<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <title>CRUD NodeJS</title>
</head>
<body>

<h2>Editar Registro</h2>
  <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <input type="text" value="<%= details.placa %>" name="name">
      <input type="text" value="<%= details.chassi %>" name="surname">
      <input type="text" value="<%= details.renavam %>" name="name">
      <input type="text" value="<%= details.modelo %>" name="surname">
      <input type="text" value="<%= details.marca %>" name="name">
      <input type="text" value="<%= details.ano %>" name="surname">
      <br />
      <button><a href="/show">Todos</a></button>
      <button type="submit">Editar</button>
    </form>
  <% }) %>

</body>
</html>